*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea
apache-tomcat-7.0.70
excute/sample
libraries
target
logs
driver
.DS_Store

# Files #
sqlmap.properties
pom.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
